-- MySQL dump 10.13  Distrib 8.4.11, for Linux (x86_64)
--
-- Host: localhost    Database: user_management
-- ------------------------------------------------------
-- Server version	8.4.11

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `user_management`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `user_management` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `user_management`;

--
-- Table structure for table `app_user`
--

DROP TABLE IF EXISTS `app_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `email` varchar(150) NOT NULL,
  `name` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `role` varchar(30) NOT NULL,
  `status` bit(1) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK1j9d9a06i600gd43uu3km82jw` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_user`
--

LOCK TABLES `app_user` WRITE;
/*!40000 ALTER TABLE `app_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Current Database: `master_management`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `master_management` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `master_management`;

--
-- Table structure for table `master_blood_group`
--

DROP TABLE IF EXISTS `master_blood_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_blood_group` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `name` varchar(100) NOT NULL,
  `status` bit(1) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKgprano05ypsn5aaqqcodqh69a` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_blood_group`
--

LOCK TABLES `master_blood_group` WRITE;
/*!40000 ALTER TABLE `master_blood_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_blood_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_contact_type`
--

DROP TABLE IF EXISTS `master_contact_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_contact_type` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `name` varchar(100) NOT NULL,
  `status` bit(1) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKj9enu969t5b28lqq17u77efu9` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_contact_type`
--

LOCK TABLES `master_contact_type` WRITE;
/*!40000 ALTER TABLE `master_contact_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_contact_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_data`
--

DROP TABLE IF EXISTS `master_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_data` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `name` varchar(100) NOT NULL,
  `status` bit(1) NOT NULL,
  `type` enum('BLOOD_GROUP','CITY','CONTACT_TYPE','DEPARTMENT','GENDER','LANGUAGE','MARITAL_STATUS','SKILL') NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_master_type_name` (`type`,`name`)
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_data`
--

LOCK TABLES `master_data` WRITE;
/*!40000 ALTER TABLE `master_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_language`
--

DROP TABLE IF EXISTS `master_language`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_language` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `name` varchar(100) NOT NULL,
  `status` bit(1) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKq9jj4etiafs1yv2uqs14fdgc` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_language`
--

LOCK TABLES `master_language` WRITE;
/*!40000 ALTER TABLE `master_language` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_language` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_marital_status`
--

DROP TABLE IF EXISTS `master_marital_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_marital_status` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `name` varchar(100) NOT NULL,
  `status` bit(1) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKraa3ms252u1x282lt02frdtrs` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_marital_status`
--

LOCK TABLES `master_marital_status` WRITE;
/*!40000 ALTER TABLE `master_marital_status` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_marital_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Current Database: `contact_management`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `contact_management` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `contact_management`;

--
-- Table structure for table `contact_history`
--

DROP TABLE IF EXISTS `contact_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contact_history` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action` varchar(30) NOT NULL,
  `changed_by` bigint DEFAULT NULL,
  `changed_by_email` varchar(150) DEFAULT NULL,
  `contact_code` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `field_name` text,
  `new_value` text,
  `old_value` text,
  `snapshot_json` longtext,
  `source` varchar(20) NOT NULL,
  `contact_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_contact_history_contact_id_created_at_id` (`contact_id`,`created_at`,`id`),
  CONSTRAINT `FKkveuxtsd3h17l0an94eymbhbi` FOREIGN KEY (`contact_id`) REFERENCES `contacts` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=170 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contact_history`
--

LOCK TABLES `contact_history` WRITE;
/*!40000 ALTER TABLE `contact_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `contact_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contacts`
--

DROP TABLE IF EXISTS `contacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contacts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address` text,
  `alternate_email` varchar(150) DEFAULT NULL,
  `alternate_mobile` varchar(15) DEFAULT NULL,
  `anniversary_date` date DEFAULT NULL,
  `blood_group` varchar(10) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `communication_name` varchar(150) DEFAULT NULL,
  `company_name` varchar(150) DEFAULT NULL,
  `contact_code` varchar(20) DEFAULT NULL,
  `contact_type` varchar(50) NOT NULL,
  `country` varchar(100) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `department` varchar(100) DEFAULT NULL,
  `designation` varchar(100) DEFAULT NULL,
  `document_uuids` json DEFAULT NULL,
  `email` varchar(150) NOT NULL,
  `emergency_contact_name` varchar(150) DEFAULT NULL,
  `emergency_contact_number` varchar(15) DEFAULT NULL,
  `employee_id` varchar(30) DEFAULT NULL,
  `gender` varchar(10) DEFAULT NULL,
  `is_deleted` bit(1) NOT NULL,
  `languages` json DEFAULT NULL,
  `marital_status` varchar(20) DEFAULT NULL,
  `mobile` varchar(15) NOT NULL,
  `name` varchar(150) NOT NULL,
  `office_number` varchar(20) DEFAULT NULL,
  `photo_uuid` varchar(32) DEFAULT NULL,
  `pin_code` varchar(10) DEFAULT NULL,
  `remarks` text,
  `skills` json DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `status` bit(1) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK728mksvqr0n907kujew6p3jc0` (`email`),
  UNIQUE KEY `UKp7kpbtyj4gkxompdoagp8sc2v` (`mobile`),
  UNIQUE KEY `UK3924n73wx38ul1ucsw1n0741r` (`contact_code`)
) ENGINE=InnoDB AUTO_INCREMENT=117 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contacts`
--

LOCK TABLES `contacts` WRITE;
/*!40000 ALTER TABLE `contacts` DISABLE KEYS */;
/*!40000 ALTER TABLE `contacts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `excel_download_requests`
--

DROP TABLE IF EXISTS `excel_download_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `excel_download_requests` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `city` varchar(255) DEFAULT NULL,
  `contact_status` bit(1) DEFAULT NULL,
  `contact_type` varchar(255) DEFAULT NULL,
  `decided_at` datetime(6) DEFAULT NULL,
  `decided_by_email` varchar(150) DEFAULT NULL,
  `department` varchar(255) DEFAULT NULL,
  `from_date` date DEFAULT NULL,
  `mailed_at` datetime(6) DEFAULT NULL,
  `mode` varchar(20) NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `requested_at` datetime(6) NOT NULL,
  `requester_email` varchar(150) NOT NULL,
  `requester_user_id` bigint DEFAULT NULL,
  `search_text` varchar(255) DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `to_date` date DEFAULT NULL,
  `token` varchar(64) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKnfl4q7r01r4r1s637tyca0or1` (`token`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `excel_download_requests`
--

LOCK TABLES `excel_download_requests` WRITE;
/*!40000 ALTER TABLE `excel_download_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `excel_download_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `file_mapping`
--

DROP TABLE IF EXISTS `file_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `file_mapping` (
  `uuid` varchar(32) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `file_type` varchar(20) NOT NULL,
  PRIMARY KEY (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `file_mapping`
--

LOCK TABLES `file_mapping` WRITE;
/*!40000 ALTER TABLE `file_mapping` DISABLE KEYS */;
/*!40000 ALTER TABLE `file_mapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action_request_id` bigint DEFAULT NULL,
  `action_status` varchar(20) DEFAULT NULL,
  `action_type` varchar(50) DEFAULT NULL,
  `attachment_data` longblob,
  `attachment_name` varchar(255) DEFAULT NULL,
  `audience_email` varchar(160) DEFAULT NULL,
  `audience_role` varchar(30) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `is_deleted` bit(1) NOT NULL,
  `duplicate_count` int DEFAULT NULL,
  `invalid_count` int DEFAULT NULL,
  `message` varchar(1000) NOT NULL,
  `is_read` bit(1) NOT NULL,
  `saved_count` int DEFAULT NULL,
  `title` varchar(160) NOT NULL,
  `total_count` int DEFAULT NULL,
  `type` varchar(20) NOT NULL,
  `updated_count` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` VALUES (1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'2026-09-30 10:29:46.811862',_binary '\0',0,0,'New Saved: 1 | Updated: 0 | Total: 1 | Duplicate: 0 | Invalid: 0',_binary '',1,'Saved by Form',1,'SUCCESS',0);
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-05  5:22:37
